<ion-view view-title="<span class='title'>BangmodFood</span>">
  <ion-content class="padding">
    <div class="button button-block button-custom universal" ng-click="universal()">
      <div class="white-back">Anything</div>
    </div>
    <div class="button button-block button-custom lunch" ng-click="lunch()">
      <div class="black-back">Lunch Time</div>
    </div>
    <div class="button button-block button-custom better" ng-click="better()">
      <div class="black-back">Better Meal</div>
    </div>
    <div class="button button-block button-custom dessert" ng-click="dessert()">
      <div class="black-back ion-icecream"> Dessert</div>
    </div>
    <div class="button button-block button-custom buffet" ng-click="buffet()">
      <div class="black-back">All you can eat</div>
    </div>
    <div class="button button-block button-light" ng-click="showAbout()" style="color:#AAA !important;">
      About BangmodFood
    </div>
  </ion-content>
</ion-view>
